.form_control {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}

.form_control label {
    margin-bottom: 0.5rem;
    font-weight: bold;
    font-size: .8em;
}

.form_control input {
    padding: 0.5rem;
    border: 1px solid #777;
    border-radius: 4px;
}

.form_control input::placeholder{
    color:#7b7b7b;
}