<div id="book-page">
<a href="/books">Voltar para a lista de livros</a>
    <div class="container">
        <h1>{{book.title}}</h1>
        <p>Páginas: {{book.pageqty}}</p>
        <div class="actions">
            <a href="/books/edit/{{book.id}}">
                Editar Livro
            </a>
        </div>
    </div>
</div>