<h1>Criação de Task</h1>

<form action="/tasks/add" method="POST">
    <div class="form-control">
        <label for="title">Título:</label>
        <input type="text" id="title" name="title" required>
    </div>
    <div class="form-control">
        <label for="description">Descrição:</label>
        <textarea id="description" name="description" required></textarea>
    </div>

    <button type="submit">Criar Task</button>
</form>
<a href="/tasks">Voltar para a lista de tasks</a>