*{
    font-family: Helvetica;
    margin: 0;
    padding: 0; 
    background-color: #222;
    color:#fff;
}


/* Navbar Styles */
#logo img{ 
    height: 40px;   
}

#navbar{
  padding: 1.2em 1.4em;
  margin-bottom: 1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #222;
  border-bottom: 1px solid #f6982d;
}

#navbar ul{ 
    display: flex;
    list-style: none;
}

#navbar ul li {
    margin-left: 1em;
}

#navbar ul li a {
    text-decoration: none;
    color: #fff;
    transition: color 0.3s;
    font-weight: bold;
}

#navbar ul li a:hover {
    color: #f6982d;
}


/* Container Styles */

.container{
    min-height: 60vh;
    padding: 2em;
}
/* Footer Styles */
footer{
    text-align: center;
    padding: 1em;
    border-top: 1px solid #f6982d;
    margin-top: 2em;
}

footer span {
    font-weight: bold;
    color: #f6982d;
}

/*Login e Register */
.auth-container{
    max-width: 450px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.auth-container h2{
    margin-bottom: 1em;
    color: #fff;    
    border-left: #f6982d 4px solid;
    padding: 0.3em;
    width: 100px;
}

.form-control{
    display: flex;
    flex-direction: column;
    margin-bottom: 1em;
}

.form-control label{
    margin-bottom: 0.5em;
}

.form-control input,
.form-control textarea{
    padding: 0.5em;
    border: 1px solid #ccc;
    border-radius: 4px;
}

form input[type='submit']{
    background-color: #f6982d;
    color: #fff;
    border: none;
    padding: 0.7em;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s;
}

form input[type='submit']:hover{
    background-color: #e07b1c;
}