<h1>Olá, mundo!</h1>
<p>Bem-vindo ao meu site!</p>
<p>Nome: {{user.name}}</p>
<p>Idade: {{user.age}}</p>
{{#if auth}}
    <p>Status: Autenticado <a href="/dashboard">Clique aqui</a></p>
{{else}}
    <p>Status: Não autenticado</p>
{{/if}}